<html>
    <head><meta charset="utf-8" /></head>
    <body>
        <div class="box alt container">
            
            
            <section class="feature left">
                <img class="image" src="images/logos/NYT.svg" alt="NYT" />
                <div class="content">
                    <h3>The New York Times</h3>
                    <p>The New York Times is an American daily newspaper based in New York City with a worldwide readership, also identified as the newspaper of record in the United States and one of the world’s great newspapers. While being ranked 3rd in the U.S., the NYT is also known for its slight to moderate liberal bias.</p>
                </div>
            </section>
            
            
            <section class="feature right">
                <img class="image" src="images/logos/CNN.svg" alt="CNN" />
                <div class="content">
                    <h3>CNN</h3>
                    <p>CNN is a multinational satellite television channel and website based in Atlanta, United States, also described as a 24-hour global multi-platform network. It was the first all-news channel in the United States with an averaged number of 972,000 viewers in 2019. The network has often been criticized mostly by democrats because of its left-leaning bias in news coverage.</p>
                </div>                 
            </section>
            
            
            <section class="feature left">
                <img class="image" src="images/logos/FOX.svg" alt="FOX" />
                <div class="content">
                    <h3>Fox News</h3>
                    <p>The Fox News Channel, commonly known as Fox News, is an American multinational conservative cable news television channel and website based in New York City. In 2019, Fox News was the top-rated cable network, averaging 2.5 million viewers. Fox has been described as practicing biased reporting in favor of the republican party. However, the channel denies it.</p>
                </div>
            </section>
            
            
        </div>
    </body>
</html>
