<html>

<head>
    <meta charset="utf-8" />
</head>

<body>
    <div class="table-wrapper">
        <table class="default">
            <thead>
                <tr>
                    <th>Topic</th>
                    <th>Seed words</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Immigration</td>
                    <td>refugee, immigration, border, citizenship, naturalization </td>
                </tr>
                <tr>
                    <td>Healthcare </td>
                    <td>health, medical, treatment, disease, aid, hospital, insurance, reimbursement </td>
                </tr>
                <tr>
                    <td>Climate </td>
                    <td>melting, global warming, temperature, rise, change, ecology, meteorology, urgency, co2,
                        greenhouse gas, climate event </td>
                </tr>
                <tr>
                    <td>Trump </td>
                    <td>president, donald trump, republican, 2016 presidential election </td>
                </tr>
                <tr>
                    <td>Abortion </td>
                    <td>pregnancy, woman, life, choice, family, child, foetus, body, right, terminate, abort, rape </td>
                </tr>
                <tr>
                    <td>Women right</td>
                    <td>abortion, sexism, salary gap, sexual harassment, abuse, gender equality, gender, woman, female,
                        patriarchy, feminism </td>
                </tr>
                <tr>
                    <td>Violence </td>
                    <td>police violence, gun, second amendment, shooting, death, police brutality, firearm </td>
                </tr>
                <tr>
                    <td>Racism </td>
                    <td>discrimination, privilage, race, ethnicity, equality, afroamerican, white, black, hate crime,
                        color </td>
                </tr>
                <tr>
                    <td>War </td>
                    <td>military, irak, afghanistan, palestine, middle east, soldier, arm, weapon, missile, conflict,
                        operation, troop, bomb, force</td>
                </tr>
                <tr>
                    <td>Tax </td>
                    <td>income, revenue, free trade, taxpayer, imposition, fee, social welfare, tax evasion, tariff,
                        deductible, vat </td>
                </tr>
                <tr>
                    <td>Coal </td>
                    <td>energy, pollution, mine, industry, fossil fuel, electricity, carbon </td>
                </tr>
            </tbody>
        </table>
    </div>
</body>

</html>
